table
{
    border-spacing: 0;
}

tr:nth-child(even) 
{
    background: #F8F8F8;
}

img.gold-medal 
{
    content:url(images/GoldMedal.png);
    vertical-align: "middle"; 
    width: 32px;
    alt: "1st Place";
}

img.silver-medal 
{
    content:url(images/SilverMedal.png);
    vertical-align: "middle"; 
    width: 32px;
    alt: "2nd Place";
}

img.bronze-medal 
{
    content:url(images/BronzeMedal.png);
    vertical-align: "middle"; 
    width: 32px;
    alt: "3rd Place";
}

.rank 
{
    margin-top: 5px; 
    width: 50px; 
    height: 50px; 
    border-radius: 25px; 
    font-size: 15px; 
    color: #ffffff; 
    line-height: 50px; 
    text-align: center; 
    background: #454545; 
}

.score 
{
    margin-top: 5px; 
    width: 50px; 
    height: 50px; 
    border-radius: 25px; 
    font-size: 15px; 
    color: #ffffff; 
    line-height: 50px; 
    text-align: center; 
    background: rgb(87, 173, 104); 
}

@media only screen and (max-width: 900px) 
{
    .time{
        display: none;
    }
}

td 
{
    text-align: center;
    padding: 5px 5px 5px 5px;
}

iframe 
{
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    height: 380px;
    width: 100%;
}